extends layout

block content
  h1 Marc's restfull API
  h2 Time microservice
  p Exemple of usage
  code https://timestampapi311.herokuapp.com/1477958400 
  br
  code https://timestampapi311.herokuapp.com/November 1, 2016
  p Expected outpout is JSON
  code { unix: 1477958400  natural: November 1, 2016}