extends layout

block content
  h1 Marc's restfull API
  h2 Time microservice
  p Exemple of usage
  code https://timeservice-madenault.c9users.io/1477958400 
  br
  code https://timeservice-madenault.c9users.io/November 1, 2016
  p Expected outpout is JSON
  code { unix: 1477958400  natural: November 1, 2016}